@tailwind base;
@tailwind components;
@tailwind utilities;

.typing-effect p {
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  white-space: nowrap;
  overflow: hidden;
  border-right: .15em solid #fff;
  width: 0;
  animation: typing 4s steps(40) 1s forwards, blink 0.75s step-end infinite;
}

/* Corrected keyframes for typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Corrected keyframes for the blinking cursor */
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* Additional styling for button */
button {
  font-family: 'Courier New', Courier, monospace;
}
